@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Disney_Hand_cursor.png) , default!important
}

.inner{
    width: 1080px;
    margin: 0 auto;
}
#wrap{
    width: 100%;
    overflow-x: hidden;
}
/***********************************************/
/*****************  header   ****************/

header{
    width: 100%;
    height: 710px;
    /*min-width: 1920px;*/
    background-image: url(../img/headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    text-align: center;
    padding-top: 200px;
}
header h2{
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
header .form_container{
    margin: 0 auto;
    text-align: center;
    width: 530px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
header .form_container input{
    width: 368px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    padding-left: 30px;
    font-weight: 500;
}
header .form_container button{
    width: 163px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #110636;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}
header .form_container button:hover{
    background-color: #180949;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Disney_Hand_cursor.png) , default!important
}
/*****************  sec01  ****************/
#sec01{
    height: 730px;
    margin-bottom: 80px;
}
#sec01 h2{
    text-align: center;
    padding-top: 90px;
    font-size: 2rem;
}
    .slider{
    overflow: hidden;
    }
    .slider div::after{
        clear: both;
    }
    .slider>div{
        width: 100%;
        height: 450px;
        display: flex;
        padding: 25px 0;
    }
    .slider .con{
        width: 100%;
        height: 450px;
        display: flex;
    }
    .slider .text{
        width: 680px;
        padding-top: 70px;
    }
    .slider h3{
        width: 90%;
        background-color: #110636;
        border-radius: 100px;
        padding: 20px;
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
    }
    .slider p{
        width: 600px;
        padding: 20px;
        line-height: 2;
        font-size: 1.2rem;
    }
/*****************  sec02  ****************/

#sec02{
    width: 100%;
    height: 1100px;
    text-align: center;
    background: radial-gradient(#2B85B7,#001927);
}
#sec02 .text1{
    color: #fff;
    position: relative;
    top: 140px;
}
#sec02 h2{
    font-size: 2rem;
}
#sec02 p{
    padding-top: 50px;
    font-size: 1.2rem;
    line-height: 1.5;
}
#sec02 img{
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#sec02 .bg_color{
    width: 100%;
    height: 40%;
    background-color: #fff;
    padding-top: 200px;
    margin-top: 80px;
}
#sec02 span{
    padding-top: 50px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
}

/*****************  sec03  ****************/
#sec03{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 352px;
    margin-top: 120px;
    margin-bottom: 50px;
}
#sec03 h2{
    color: #fff;
    padding-top: 120px;
}


/*****************  sec04  ****************/
#sec04{
    margin: 0 auto;
    text-align: center;
}
#sec04 .submit{
    width: 100%;
    margin: 0 auto;
    float: left;
    padding-top: 140px;
}
#sec04 .submit h2{
    font-size: 2rem;
    padding-bottom: 25px;
}
#sec04 .submit p{
    padding-bottom: 20px;
}
#sec04 .submit h3 a{
    width: 365px;
    height: 46px;
    color: #fff;
    background-color: #110636;
    border-radius: 10px;
    padding-top: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
#sec04 .submit h3:hover a{
    background-color: #180949;
    display: block;
}
#sec04 .inner{
    width: 880px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

/*****************  sec05  ****************/
#sec05{
    width: 100%;
    background: linear-gradient(#025684,#021F38);
    margin-top: 50px;
    color: #fff;
    padding-bottom: 20px;
}
#sec05 h2{
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
}
#sec05 .acco{
    width: 900px;
    margin: 0 auto;
}
#sec05 .acco dt{
    width: 100%;
    height: 60px;
    background-color: #020D1F;
    background-image: url(../img/arrow.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 95%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    padding-left: 50px;
    margin: 8px 0 0;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Disney_Hand_cursor.png) , default!important
}
#sec05 .acco .open{
    background-image: url(../img/arrow_up.png);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#sec05 dd{
    background-color: #020d1fcc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 30px;
    display: none;
}
#sec05 dd:first-of-type{
    display: block;
}

/*****************  footer  ****************/
footer{
    width: 100%;
    height: 70px;
    background-color: #020D1F;
}



/*****************  미디어 쿼리  ****************/

@media(max-width:500px){
    #wrap{width: 100%;}

    .inner{width: 85%;
    margin: 0 auto;}

    /*header*/
    header{
        width: 100%;
        height: 708px;
        background-image: url(../img/headerimg_mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header img{
        width: 320px;
        height: 120px;
        margin-bottom: 150px;
        position: relative;
        top: -150px;
    }
    header .form_container{
        width: 320px;
    }
    header .form_container input{
        font-size: 1rem;
    }
    header .form_container button{
        font-size: 0.9rem;
        padding-bottom: 4px;
    }

    /*sec01*/
    #sec01{
        width: 100%;
        height: 1000px;
    }
    #sec01 h2{
        font-size: 1.5rem;
    }
    .bx-wrapper{
        height: 800px;
    }
        .slider div::after{
            clear: both;
        }
        .slider>div{
            width: 100%;
            height: 450px;
            /* display: flex; */
            padding: 25px 0;
        }
        .slider div>img{
            width: 100%;
        }
        .slider .con{
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: column;
            padding-top: 100px;
        }
        .slider .text{
            width: 99%;
            padding-top: 70px;
        }
        .bx-controls-direction{display: none;}
        .slider h3{
            width: 100%;
            background-color: #110636;
            border-radius: 100px;
            padding: 10px;
            text-align: center;
            color: #fff;
            font-size: 0.8rem;
        }
        .slider p{
            width: 100%;
            padding-top: 30px;
            line-height: 2;
            font-size: 1rem;
        }
    /*sec02*/

    #sec02 h2{
        width: 70%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    #sec02 .text2{
        width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    #sec02 .text2{
        padding-top: 50px;
    }
    #sec02 p{
        font-size: 1rem;
    }
    #sec02 img{
        width: 100%;
        height: 230px;
    }
    #sec02 .bg_color{
        width: 100%;
        height: 620px;
    }
    #sec02 span{
        font-size: 1rem;
        width: 95%;
        position: relative;
    }

    /*sec03*/

    #sec03{
        background-image: url(../img/mo_banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 352px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    #sec03 h2{
        padding-top: 110px;
        font-size: 1.3rem;
    }

    /*sec04*/

    #sec04 .inner{
        width: 100%;
        height: 700px;
        display: block;
    }
    #sec04 img{
        display: none;
    }
    #sec04 .mo_img{
        background-image: url(../img/icon3.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
    }
    #sec04 .submit{
        padding-top: 50px;
    }
    #sec04 .submit h2{
        font-size: 1.5rem;
    }

    /*sec05*/
    #sec05{
        height: 580px;
    }
    #sec05 h2{
        font-size: 1.5rem;
    }
    #sec05 .acco{
        width: 100%;
        height: 100%;
    }
    #sec05 .acco dt{
        width: 100%;
        height: 60px;
        background-color: #020D1F;
        background-image: url(../img/arrow.png);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: 95%;
        font-size: 1rem;
        padding-left: 25px;
    }
}